@import url("https://fonts.googleapis.com/css?family=Noto+Sans+HK:300,400,500,700,900|Source+Serif+Pro:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:400,400i,500,600,700&display=swap");
body {
  font-family: 'Poppins', sans-serif;
}

.menu-wrapper {
  width: 85%;
  left: 50%;
  top: 5px;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  color: white;
  position: absolute;
  z-index: 1;
}

.menu-wrapper .logo {
  font-size: 15px;
  font-weight: 600;
  padding: 15px 15px 15px 0;
  margin-right: 50px;
}

.menu-wrapper .menu-items-wrapper {
  text-shadow: 1px 1px 2px rgba(4, 8, 17, 0.25);
  font-weight: 500;
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
}

.menu-wrapper .menu-items-wrapper li {
  padding-top: 15px;
  list-style: none;
  text-align: center;
}

.menu-wrapper .menu-items-wrapper li a {
  padding: 10px;
  text-decoration: none;
  color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

.menu-wrapper .menu-items-wrapper li a:hover {
  background: rgba(225, 255, 255, 0.3);
}

.menu-wrapper .menu-items-wrapper .lang span::before {
  font-family: "Font Awesome 5 Free";
  content: "\f111";
  font-size: 4px;
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

.menu-wrapper .menu-items-wrapper .lang a {
  padding: 10px 10px 10px 10px;
}

.menu-wrapper .menu-items-wrapper .search {
  text-align: right;
}

.full-width-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.main-slider-wrapper {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.main-slider-wrapper img {
  position: absolute;
  width: 100%;
}

.main-slider-wrapper .dark-gradient {
  position: absolute;
  bottom: 300px;
  width: 100%;
  pointer-events: none;
}

.main-slider-wrapper .dark-gradient img {
  width: 100%;
  height: 300px;
}

.main-slider-wrapper .slider-content-wrapper {
  width: 85%;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (500px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 500px);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-slider-wrapper .slider-content-wrapper .main-content {
  z-index: 1;
  height: 450px;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.main-slider-wrapper .slider-content-wrapper .main-content .prev-country, .main-slider-wrapper .slider-content-wrapper .main-content .next-country {
  font-family: 'Source Serif Pro', serif;
  text-shadow: 1px 1px 2px rgba(4, 8, 17, 0.25);
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.main-slider-wrapper .slider-content-wrapper .main-content .prev-country:hover, .main-slider-wrapper .slider-content-wrapper .main-content .next-country:hover {
  color: white;
}

.main-slider-wrapper .slider-content-wrapper .main-content .prev-country {
  color: #dbdbdb;
}

.main-slider-wrapper .slider-content-wrapper .main-content .next-country {
  color: #c4c4c4;
}

.main-slider-wrapper .slider-content-wrapper .main-content .slide-info {
  color: white;
}

.main-slider-wrapper .slider-content-wrapper .main-content .slide-info .discover {
  text-transform: capitalize;
  font-size: 15px;
}

.main-slider-wrapper .slider-content-wrapper .main-content .slide-info .country {
  font-family: 'Source Serif Pro', serif;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 5px;
  text-shadow: 1px 1px 2px rgba(4, 8, 17, 0.25);
}

.main-slider-wrapper .slider-content-wrapper .main-content .slide-info .country-desc {
  font-size: 12px;
  width: 400px;
  line-height: 18px;
}

.main-slider-wrapper .slider-content-wrapper .main-content .slide-info .explore-btn {
  position: relative;
  width: 95px;
  font-size: 12px;
  padding: 13px 13px 13px 25px;
  border-radius: 20px;
  background: rgba(71, 131, 170, 0.7);
  margin-top: 20px;
  text-transform: capitalize;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.main-slider-wrapper .slider-content-wrapper .main-content .slide-info .explore-btn:hover {
  background: rgba(71, 131, 170, 0.9);
  -webkit-box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px 0px rgba(255, 255, 255, 0.2);
}

.main-slider-wrapper .slider-content-wrapper .main-content .slide-info .explore-btn:hover img {
  margin-left: 21px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.main-slider-wrapper .slider-content-wrapper .main-content .slide-info .explore-btn img {
  width: 34px;
  margin-top: -10px;
  margin-left: 17px;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper {
  height: 300px;
  width: 560px;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place {
  width: 200px;
  height: 210px;
  border-radius: 5px;
  position: relative;
  margin: 10px;
  color: white;
  text-transform: capitalize;
  outline: none;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.55);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.55);
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place:hover {
  margin-top: 0px;
  height: 230px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(255, 255, 255, 0.4);
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place .dark-gradient {
  position: absolute;
  height: 200px;
  bottom: -10px;
  pointer-events: none;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place .img-wrapper img {
  position: absolute;
  width: auto;
  height: 250px;
  z-index: -1;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place .bookmark {
  font-size: 15px;
  padding: 10px;
  width: 20px;
  display: block;
  text-shadow: 1px 1px 2px rgba(4, 8, 17, 0.25);
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place .bookmark:hover {
  cursor: pointer;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place .info-wrapper {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place .info-wrapper .locality {
  font-size: 10px;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place .info-wrapper .place-name {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
  text-shadow: 1px 1px 2px rgba(4, 8, 17, 0.25);
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place .info-wrapper .rating {
  font-size: 8px;
  margin-top: 12px;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place .info-wrapper .rating i {
  margin-right: 4px;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .lft-arrow, .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .rt-arrow {
  position: absolute;
  top: 250px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(71, 131, 170, 0.7);
  cursor: pointer;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .lft-arrow:hover, .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .rt-arrow:hover {
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.7);
  background: rgba(71, 131, 170, 0.9);
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .lft-arrow img, .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .rt-arrow img {
  -webkit-transition: .3s ease;
  transition: .3s ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .lft-arrow {
  bottom: -45px;
  left: 20px;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .lft-arrow img {
  left: 17px;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .lft-arrow:hover img {
  left: 14px;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .rt-arrow {
  bottom: -45px;
  left: 150px;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .rt-arrow img {
  right: 17px;
}

.main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .rt-arrow:hover img {
  right: 14px;
}

.about-us-wrapper-background {
  background: black;
  width: 100%;
  padding-bottom: 20px;
}

.content-wrapper-width {
  width: 60%;
  margin: 0 auto;
}

.about-us {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(270px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 20px;
  -ms-grid-row: 1;
  grid-row: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us .about-us-img {
  height: 300px;
  overflow: hidden;
}

.about-us .about-us-img img {
  width: 110%;
}

.about-us .about-us-content {
  text-align: justify;
  font-size: 13px;
  line-height: 19px;
  color: white;
}

.about-us .about-us-content .about-us-logo {
  font-size: 22px;
  font-weight: 700;
  text-shadow: 0 0 10px #FFFFFF;
  padding: 7px 0;
  margin-bottom: 15px;
}

.destinations-wrapper-background {
  background: #4783aa;
  padding: 120px 0 50px 0;
  position: relative;
}

.destinations-wrapper-background img {
  position: absolute;
  top: -2px;
  width: 100%;
}

.destinations-wrapper-background .destinations {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(170px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-gap: 20px;
}

.destinations-wrapper-background .destinations .gallery, .destinations-wrapper-background .destinations .tours, .destinations-wrapper-background .destinations .booking, .destinations-wrapper-background .destinations .weather {
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px;
  position: relative;
  -ms-flex-line-pack: start;
      align-content: start;
  color: white;
  text-align: center;
  padding: 10px 15px 50px 15px;
  margin: 20px 0;
  cursor: pointer;
  border: 1px solid  #4783aa;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 5px;
}

.destinations-wrapper-background .destinations .gallery:hover, .destinations-wrapper-background .destinations .tours:hover, .destinations-wrapper-background .destinations .booking:hover, .destinations-wrapper-background .destinations .weather:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.destinations-wrapper-background .destinations .gallery .title, .destinations-wrapper-background .destinations .tours .title, .destinations-wrapper-background .destinations .booking .title, .destinations-wrapper-background .destinations .weather .title {
  font-size: 18px;
  font-weight: 600;
}

.destinations-wrapper-background .destinations .gallery .icon, .destinations-wrapper-background .destinations .tours .icon, .destinations-wrapper-background .destinations .booking .icon, .destinations-wrapper-background .destinations .weather .icon {
  height: 50px;
  width: 50px;
  background: #5192bc;
  margin: 0 auto;
}

.destinations-wrapper-background .destinations .gallery .icon i, .destinations-wrapper-background .destinations .tours .icon i, .destinations-wrapper-background .destinations .booking .icon i, .destinations-wrapper-background .destinations .weather .icon i {
  font-size: 23px;
  margin-top: 13px;
}

.destinations-wrapper-background .destinations .gallery .desc, .destinations-wrapper-background .destinations .tours .desc, .destinations-wrapper-background .destinations .booking .desc, .destinations-wrapper-background .destinations .weather .desc {
  font-size: 13px;
}

.destinations-wrapper-background .destinations .gallery .btn, .destinations-wrapper-background .destinations .tours .btn, .destinations-wrapper-background .destinations .booking .btn, .destinations-wrapper-background .destinations .weather .btn {
  position: absolute;
  bottom: 0px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  width: 40%;
  bottom: 10px;
  right: 30%;
  padding: 4px 0;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
  color: #4783aa;
  -webkit-transition: .3s;
  transition: .3s;
}

.destinations-wrapper-background .destinations .gallery .btn:hover, .destinations-wrapper-background .destinations .tours .btn:hover, .destinations-wrapper-background .destinations .booking .btn:hover, .destinations-wrapper-background .destinations .weather .btn:hover {
  background: white;
}

.form-wrapper-background {
  background: #fcfcfc;
  padding: 25px 0;
}

.form-wrapper-background .form-title {
  text-shadow: 1px 1px 1px rgba(4, 8, 17, 0.1);
  font-weight: 600;
  color: #4783aa;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.form-wrapper-background .form-wrapper {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.form-wrapper-background .form-wrapper input {
  background: #fcfcfc;
  color: #303030;
  border: 2px solid rgba(71, 131, 170, 0.5);
  font-weight: 500;
  padding: 6px 15px;
  font-size: 14px;
  border-radius: 4px;
  outline: none;
  -webkit-box-shadow: 1px 1px 3px px rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.2);
}

.form-wrapper-background .form-wrapper input::-webkit-input-placeholder {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(71, 131, 170, 0.7);
  font-weight: 500;
}

.form-wrapper-background .form-wrapper input:-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(71, 131, 170, 0.7);
  font-weight: 500;
}

.form-wrapper-background .form-wrapper input::-ms-input-placeholder {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(71, 131, 170, 0.7);
  font-weight: 500;
}

.form-wrapper-background .form-wrapper input::placeholder {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(71, 131, 170, 0.7);
  font-weight: 500;
}

.form-wrapper-background .form-wrapper input:hover {
  border: 2px solid rgba(71, 131, 170, 0.7);
}

.form-wrapper-background .form-wrapper input:focus {
  -webkit-transition: .3s;
  transition: .3s;
  border: 2px solid #4783aa;
  background: #ffffff;
}

.form-wrapper-background .form-wrapper input[type="submit"] {
  cursor: pointer;
  background: rgba(71, 131, 170, 0.7);
  color: white;
  text-shadow: 1px 1px 2px rgba(4, 8, 17, 0.25);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  width: 150px;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transition: .3s;
  transition: .3s;
}

.form-wrapper-background .form-wrapper input[type="submit"]:hover {
  background: #4783aa;
}

.explore-wrapper-background {
  background: #E8E8E8;
  padding: 80px 0;
}

.explore-wrapper-background .explore {
  display: -ms-grid;
  display: grid;
  grid-gap: 35px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.explore-wrapper-background .explore-content .explore-title {
  text-shadow: 1px 1px 2px rgba(4, 8, 17, 0.25);
  color: #303030;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 20px;
}

.explore-wrapper-background .explore-content .explore-text {
  font-size: 13px;
  line-height: 18px;
  text-align: justify;
}

.explore-wrapper-background .explore-content .explore-text mark {
  background: rgba(71, 131, 170, 0.3);
}

.explore-wrapper-background .explore-content .direction-wrapper {
  margin-bottom: 30px;
  position: relative;
}

.explore-wrapper-background .explore-content .direction-wrapper .direction-name {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 7px;
}

.explore-wrapper-background .explore-content .direction-wrapper .percent-num {
  position: absolute;
  right: 0;
  top: -5px;
  font-size: 18px;
  font-weight: 600;
}

.explore-wrapper-background .explore-content .direction-wrapper .percentage-bar {
  width: 100%;
  border: 1px solid grey;
  border-radius: 3px;
  overflow: hidden;
}

.explore-wrapper-background .explore-content .direction-wrapper .percentage-bar .percentage-bar-norway, .explore-wrapper-background .explore-content .direction-wrapper .percentage-bar .percentage-bar-italy, .explore-wrapper-background .explore-content .direction-wrapper .percentage-bar .percentage-bar-greece {
  background: #4783aa;
  height: 4px;
  margin: 1px;
  border-radius: 3px;
}

.explore-wrapper-background .explore-content .direction-wrapper .percentage-bar .percentage-bar-norway {
  width: 52%;
}

.explore-wrapper-background .explore-content .direction-wrapper .percentage-bar .percentage-bar-italy {
  width: 28%;
}

.explore-wrapper-background .explore-content .direction-wrapper .percentage-bar .percentage-bar-greece {
  width: 20%;
}

footer {
  background: #a3a3a3;
  position: relative;
  padding-bottom: 50px;
}

footer .grey-gradient {
  position: absolute;
  top: -2;
  width: 100%;
  pointer-events: none;
}

footer .info-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 200px 2fr;
      grid-template-columns: 200px 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-gap: 60px;
}

footer .info-wrapper .info {
  z-index: 1;
  font-size: 14px;
  color: white;
}

footer .info-wrapper .info i {
  width: 10px;
  height: 10px;
  text-shadow: 1px 1px 2px rgba(4, 8, 17, 0.25);
  margin-right: 14px;
}

footer .info-wrapper .info .title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 6px;
  text-shadow: 1px 1px 2px rgba(4, 8, 17, 0.25);
}

footer .info-wrapper .info .street {
  margin-bottom: 4px;
}

footer .info-wrapper .info .tel {
  margin-bottom: 25px;
}

footer .info-wrapper .info .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 30px;
  margin-top: 40px;
  font-size: 20px;
}

footer .info-wrapper .info .socials a {
  text-decoration: none;
  color: white;
}

footer .info-wrapper .info .socials i {
  background: white;
  color: #303030;
  text-align: center;
  border-radius: 20px;
  padding-top: 7px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 33px;
  height: 33px;
  margin-right: 10px;
  -webkit-transition: .3s;
  transition: .3s;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.5);
}

footer .info-wrapper .info .socials i:hover {
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 2px 1px white;
  box-shadow: 0px 0px 2px 1px white;
}

footer .info-wrapper .info .socials .fa-instagram:hover {
  color: #EE1289;
}

footer .info-wrapper .info .socials .fa-facebook-f:hover {
  color: #27408B;
}

footer .info-wrapper .info .socials .fa-pinterest-p:hover {
  color: #EE2C2C;
}

footer .info-wrapper .info .socials .fa-youtube:hover {
  color: #CD0000;
}

footer .info-wrapper .map {
  overflow: hidden;
  z-index: 1;
  height: 300px;
  -webkit-box-shadow: 0px 0px 8px 2px white;
  box-shadow: 0px 0px 8px 2px white;
}

footer .info-wrapper .map iframe {
  width: 100%;
}

@media screen and (min-width: 1600px) {
  .menu-wrapper {
    width: 70%;
  }
  .main-slider-wrapper .slider-content-wrapper {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .full-width-slider {
    width: 100%;
    height: 900px;
  }
  .main-slider-wrapper {
    overflow: hidden;
    height: 900px;
  }
  .main-slider-wrapper img {
    width: 200%;
  }
  .main-slider-wrapper .slider-content-wrapper {
    -ms-grid-columns: 80%;
        grid-template-columns: 80%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main-slider-wrapper .slider-content-wrapper .main-content {
    height: 380px;
    margin-bottom: 20px;
  }
  .main-slider-wrapper .slider-content-wrapper .main-content .slide-info .discover {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
  }
  .main-slider-wrapper .slider-content-wrapper .main-content .slide-info .country {
    text-align: center;
  }
  .main-slider-wrapper .slider-content-wrapper .main-content .slide-info .country-desc {
    width: 100%;
    text-align: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 40px;
  }
  .main-slider-wrapper .slider-content-wrapper .main-content .slide-info .explore-btn {
    margin: 20px auto;
  }
  .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper {
    width: 100%;
  }
  .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider .travel-place .img-wrapper img {
    width: 120%;
  }
}

@media screen and (max-width: 1000px) {
  .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper img {
    width: 100%;
  }
  .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .lft-arrow {
    left: 37%;
  }
  .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .rt-arrow {
    left: 57%;
  }
  .content-wrapper-width {
    width: 80%;
  }
}

@media screen and (max-width: 850px) {
  .menu-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu-wrapper .logo {
    margin-right: 0px;
    text-align: center;
    font-size: 17px;
    padding: 10px;
  }
  .main-slider-wrapper .slider-content-wrapper {
    top: 55%;
  }
  .form-wrapper-background .form-wrapper input[type="submit"] {
    grid-column: auto / span 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (max-width: 750px) {
  .main-slider-wrapper .slider-content-wrapper .main-content .prev-country {
    padding-left: 40px;
  }
  .main-slider-wrapper .slider-content-wrapper .main-content .next-country {
    padding-left: 40px;
  }
  .main-slider-wrapper .slider-content-wrapper {
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    width: 100%;
  }
  .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper {
    background: black;
    height: 350px;
    -webkit-box-shadow: -4px -21px 30px 18px black;
    box-shadow: -4px -21px 30px 18px black;
  }
  .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .travel-places-slider {
    padding: 10px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .lft-arrow {
    left: 30%;
  }
  .main-slider-wrapper .slider-content-wrapper .travel-places-slider-wrapper .rt-arrow {
    left: 62%;
  }
  .form-wrapper-background .form-wrapper {
    grid-auto-flow: row;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
  }
  .form-wrapper-background .form-wrapper input[type="submit"] {
    grid-column: auto;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */